* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: 'Roboto', sans-serif;
}

.nav-links {
  list-style-type: none;
  display: none
}

.nav-links a {
  display: block;
  padding: 20px;
  background: #191919;
  font-size: 19px;
  text-decoration: none;
  text-transform: uppercase;
  color:#03243e;
  /* color: #8579D9; // ovo je ona ljubicasta  */ 
  /* color: #8fcbfd; */
  /* should I change these times as well? */
  transition: color 2s ease, background 2s ease, padding 2s ease;
}


.nav-links a:hover {
  background: #919191;
  color: #03243e;
  padding-left: 30px;

}

.nav-icons {
  display: none;
}
.nav-icons a path{
  color: #03243e;
  transition: color 2s ease, background 2s ease, padding 2s ease;
}

.nav-container {
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid #8fcbfd;
  display: flex;
  justify-content: space-between
}

.nav-container img {
  width: 100px;
  align-self: center;

}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 4px;
  margin: 5px;
  /* background: #03243e; */
  background: #8fcbfd;
  /* changed time from 1 to 2 because slow */
  transition: transform 1s ease, opacity 1s ease;
}

.btn {
  padding: 2px;
  display: inline-block;
  /* border: 4px solid #03243e; */
  border: 4px solid #8fcbfd;
  cursor: pointer;
  align-self: center;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
}

/*####header*/

header {
  min-height: 100vh;
  /* background: linear-gradient(rgba(156, 158, 145, 0.4), rgba(96, 107, 107, 0.445)), url(img/roma-san-angelo.png)center/cover fixed no-repeat; */
  background: url(img/roma-san-angelo.png)center/cover fixed no-repeat;
  /*  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  */
  display: flex;
  flex-direction: column;
}

nav {
  flex: 0 0 auto;
}

.banner {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 span,
.banner h3 {
  font-family: 'Rock Salt', cursive;
}

.bannerCard {
  flex: 0 0 90%;
  text-align: center;
  padding: 100px 0;
  outline: 1px solid #191919;
  outline-offset: -10px;
  background: rgba(255, 255, 255, 0.5);
}

.bannerCard h1 {
  font-size: 60px;
  color: #8579D9;

  /* color: #8fcbfd; */
  font-style: italic;
  text-transform: uppercase;
}

.bannerCard span {
  color: #03243e;
}

.bannerCard h3 {
  text-transform: capitalize;
  letter-spacing: 10px;
}

@media screen and (min-width:992px) {
  .btn {
    display: none;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .nav-container {
    background: transparent;
    border-bottom: none;
    flex: 0 0 auto;
  }
  .nav-links {
    padding: 0 20px;
    flex: 1 0 auto;
    display: flex!important;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-self: center;
  }
  .nav-links li {
    flex: 1 0 auto;
  }
  .nav-links a {
    background: transparent;
    text-align: center;
    border-radius: 5px;
    padding: 20px 10px;
    /* color: white; */
  }
  .nav-links a:hover {
    padding-left: 10px;
  }
  .nav-icons {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-around;
    list-style-type: none;
    padding: 0 20px
  }
  .nav-icons li {
    flex: 1 0 40px;
    text-align: center;
    /* color: #f5f3f5; */

  }

  /* ne vide mi se icons na mediji */
  .nav-icons a {
    font-size: 30px;
    /* color: #03243e; */
    color: #8579D9;
    /* color: #8fcbfd; */
    transition: color 2s ease 0.3s;
  }
  .nav-icons a:hover {
    color: #f5f3f5;
  }
  .bannerCard {
    flex: 0 0 70%;
  }

}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: background 2s ease;
}


.navBackground {
  background: rgba(0, 0, 0, 0.8);
}

/*##########skills#################*/

.rollover:hover {
  color: rgb(179, 245, 245);
  font-size: 17px;
  background: rgba(142, 153, 253, 0.5);
  transition: color 0.3s ease, font-size 0.3s ease;
}

.skills {
  padding: 40px 0;
  /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/roma-artwork.jpg) center/cover fixed no-repeat; */
  /* background: url(img/roma-artwork.jpg) center/cover fixed no-repeat; */
  background-color: #03243e;
}

.skills-center {
  width: 90%;
  margin: 0 auto;

}

.skill {
  text-align: center;
  margin: 30px 0;
  color: #f5f3f5;
}

.skill a {
  transition: opacity 2s ease;
  text-decoration: none;
}


.skill a:hover {
  opacity: 0.1;
  cursor: pointer;
}

.skill h1 {
  /* color: #f5f3f5; */
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  font-style: italic;

}

.skill h2 {
  /* color: #f5f3f5; */
  font-size: 30px;
  text-transform: uppercase;
  margin: 5px 0 10px 0;
  font-weight: 400;
}


.skill p {
  /* color: #f5f3f5; */
  line-height: 2;
  letter-spacing: 5px
}
/* .skill article{
} */
.skill button {
 
  /* font-family: 'Permanent Marker', cursive; */
  background: transparent;
  cursor: pointer;
  display: inline-block;
  /* text-decoration: none; */
  text-transform: uppercase;
  color: #f5f3f5;
  padding: 15px 10px;
  /* margin-bottom: 20px; */
  border: 3px solid #f5f3f5;
  transition: border 2s ease, background 2s ease, color 2s ease;
}

.skill button:hover {
  color: #191919;
  background: #f5f3f5;
  border-color: #f5f3f5;
}


@media screen and (min-width:776px) {
  .skills-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .skill {
    flex: 0 0 calc(50% - 20px);
  }
}

@media screen and (min-width:992px) {
  .skill {
    flex: 0 0 calc(33.333% - 1px);
    margin: 0;
    padding: 20px;
  }
  .skills article:first-of-type {
    border-right: 1px solid #f5f3f5;
  }
  .skills article:nth-of-type(3) {
    border-left: 1px solid #f5f3f5;
  }
  .skills article:nth-of-type(4) {
    border-right: 1px solid #f5f3f5;
    border-top: 1px solid #f5f3f5;
  }
  .skills article:nth-of-type(6) {
    border-left: 1px solid #f5f3f5;
    border-top: 1px solid #f5f3f5;
  }
  .skills article:nth-of-type(5) {
    border-top: 1px solid #f5f3f5;
  }
  .skills article:nth-of-type(5) {
    border-top: 1px solid #f5f3f5;
  }
  .skills article:nth-of-type(8) {
    /* border-left: 1px solid #f5f3f5; */
    border-top: 1px solid #f5f3f5;
  }
  .skills article:nth-of-type(7) {
    border-top: 1px solid #f5f3f5;
    border-right: 1px solid #f5f3f5;
  } 
  .skills article:nth-of-type(9) {
    border-top: 1px solid #f5f3f5;
    border-left: 1px solid #f5f3f5;
  }  
}

/*###################about###################*/

.about-image {
  min-height: 100vh;
  background: url(img/roma-argentina.png) center/cover fixed no-repeat;
}

.about-text {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: #03243e;
  color: #f5f3f5;
  padding: 40px 0;
}

.about-text-center {
  width: 90%;
  margin: 0 auto;
}

.about-text h1 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-text-underline {
  width: 200px;
  height: 5px;
  background: #8fcbfd;
}

.about-text p {
  margin: 20px 0;
  line-height: 2;
  font-style: italic;
}


.about-text a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #f5f3f5;
  padding: 15px 10px;
  border: 3px solid #f5f3f5;
  transition: border 2s ease, background 2s ease, color 2s ease;
}

.about-text a:hover {
  color: #191919;
  background: #f5f3f5;
  border-color: #f5f3f5;
}

@media screen and (min-width:776px) {
  .about {
    display: flex;
  }
  .about-text {
    flex: 0 0 30%;

  }
  .about-image {
    flex: 0 0 70%;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%)
  }
  .about {
    background: #03243e;
  }
}

/*####################projects#################*/

.projects {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat (4, 1fr);
  grid-template-areas: "item1 item1 item2 item3 item3" 
                       "item1 item1 item4 item5 item5" 
                       "item6 item7 item7 item5 item5" 
                       "item6 item8 item9 item9 item10"
}

.project-1 {
  grid-area: item1;
  background: url(img/roma-artwork.jpg)center/cover fixed no-repeat;
}

.project-2 {
  grid-area: item2;
  background: url(img/roma-giardino.jpg)center/cover no-repeat;
}

.project-3 {
  grid-area: item3;
  background: url(img/roma-colosseo.jpg)center/cover no-repeat;
}

.project-4 {
  grid-area: item4;
  background: url(img/roma-sanpetro.jpg)center/cover no-repeat;
}

.project-5 {
  grid-area: item5;
  background: url(img/rome-vittorio-emanuele.jpg)center/cover fixed no-repeat;
}

.project-6 {
  grid-area: item6;
  background: url(img/roma-beetle.jpg)center/cover no-repeat;
}

.project-7 {
  grid-area: item7;
  background: url(img/roma-panorama.jpg)center/cover no-repeat;
}

.project-8 {
  grid-area: item8;
  background: url(img/rome-trevi.jpg)center/cover no-repeat;
}

.project-9 {
  grid-area: item9;
  background: url(img/rome-forum.jpg)center/cover no-repeat;
}

.project-10 {
  grid-area: item10;
  background: url(img/roma-party.jpeg)center/cover no-repeat;
}

.project {
  transition: opacity 2s ease;
}

.project:hover {
  opacity: 0.5;
  cursor: pointer;
}


/*###############contact################*/



.contact {
  padding: 100px 0;
  /* background: linear-gradient(rgba(243, 200, 106, 0.6), rgba(0, 0, 0, 0.6)), url(img/roma-colosseum.jpg) center/cover fixed no-repeat; */
  background: url(img/roma-colosseum.jpg) center/cover fixed no-repeat;
  /* color: #8579D9; */
  color: #03243e;
  /* color: #f5f3f5; */
}


.contact-info,
.contact-form {
  margin: 40px 0;
  padding: 20px 40px;
}

.contact-detail {
  display: flex;
  margin: 20px 0;
  padding: 0 10px;
  border-radius: 30px;
}

.contact-center:hover {
  /* opacity: 0.5; */
  color: rgba(6, 24, 2, 0.76);
  font-size: 35px;
  background-color: rgba(3,36,62, 0.7);
  /* background: #0a528a;  */
  /* background-blend-mode: color-burn; */
  transition: color 0.3s ease, font-size 0.3s ease;
}
/* .contact-text {
  color: green;
} */

.contact-icon {
  font-size: 50px;
  margin-right: 20px;
  align-self: center;
  color: white;
}

.contact-text h3 {
  text-transform: capitalize;
  color: white;
  margin-bottom: 30px;
}

.contact-text p {
  font-size: 30px; 
  color:white;
}

.contact-form {
  background: #f5f3f5;
  padding: 0;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px
}

.contact-form h3 {
  width: 100%;
  /* ova boja je za promjeniti u pink */
  /* background: #8579D9; */
  background: #03243e;
  text-align: center;
  text-transform: capitalize;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

form input,
form textarea {
  margin: 5px 0;
  padding: 5px 0!important;
  border: none;
  font-size: 20px;
  /* border-bottom: 3px solid #8579D9; */
  border-bottom: 3px solid #03243e;
  background: transparent;

  

}

form input::placeholder {
  text-transform: capitalize;
  
  color: #8a8e8a;
}

form textarea::placeholder {
  text-transform: capitalize;
  color: #8a8e8a;
}

form button {
  font-size: 25px;
  margin: 10px 0;
  background:#03243e;
  border-radius: 20px;
  padding: 5px 0;
  color: #f5f3f5;
  transition: color 2s ease, background 2s ease;

}

form button:hover {
  /* background: #191919; */
  background:#03243e;
  color: #8fcbfd;
}


@media screen and (min-width:776px) {
  .contact-center {
    display: flex;
    padding: 0 40px;
  }
  .contact-info {
    flex: 0 0 calc(60% - 1em);
  }
  .contact-form {
    flex: 0 0 calc(40% - 1em);
  }
}
