* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  body {
    font-family: 'Permanent Marker', cursive;
  
  }


.tours  {
    background: url(img-pages/trevi.jpg)center/cover fixed no-repeat;
} 

a {
    display: block;
    padding: 20px;
    background: #191919;
    font-size: 19px;
    text-decoration: none;
    text-transform: uppercase;
    color: #8579D9;
    /* color: #8fcbfd; */
    /* should I change these times as well? */
    transition: color 2s ease, background 2s ease, padding 2s ease;
  }

  a:hover {
    background: #919191;
    color: #03243e;
    padding-left: 30px;
  
  }